/* Ensure no horizontal scroll */
html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensure full width */
}

body.light {
  background-color: #fff;
  color: #000;
}

.navigation.light {
  background-color: rgba(255, 255, 255, 0.8); /* Light background */
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: #fff;
}

.navigation.dark {
  background-color: rgba(18, 18, 18, 0.8); /* Dark background */
  color: #fff;
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: #ffd700;
}